body {
  font-family: "Arial, sans-serif";
}
h1 {
  font-size: 38px;
}
h2 {
  font-size: 32px;
}
.ingredients-list {
  list-style: square inside;
}
ol {
  list-style: circle;
}
header > img {
  width: 100px;
}
ul, ol, a {
  color: inherit;
  text-decoration: none;
}
html {
  background-color: floralwhite;
  line-height: 1.5;
}
#reviews {
  font-family: 'Times New Roman', Times, serif;
}
#name {
  font-family: 'Times New Roman', Times, serif;
}
#review {
  font-family: 'Times New Roman', Times, serif;
}

.user_review {
  font-family: cursive;
}
